{% extends "base/main.html" %}
{% block title %}
film
{% endblock %}
{% block content %}
        {% for l in liste %}
    <ul class="global_descip">
             <li> l'id de la categorie est  '{{l.id}}' </li>
             <li> la categorie a pour titre  '{{l.nom}}' </li>
             <li class="descrip"> Despcription de la classe :{{l.description}} </li>

            <li> <button name="aff"><a href="affiche/{{l.id}}"> afficher les détails  </a></button> <button name="supp"><a href="delete/{{l.id}}"> effacer  </a></button>
                <button name="upd"><a href="update/{{l.id}}"> update </a></button></li>
    </ul>


        {%endfor%}

{% endblock %}